.App {
    text-align: center;
    padding: 50px;
}

.barcode-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
}

.product-details {
    border: 1px solid #a334fa;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    border-radius: 8px;
    background: ghostwhite;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.product-details .desc {
    background: ghostwhite;
    padding: 10px;
    font-style: italic;
    font-family: fangsong;
    font-size: 19px;
}

.bar_labels {
    background: darkslategray;
    color: ghostwhite;
    font-size: 20px;
    text-align: right;
}

.bar_inputs input, .bar_select select {
    border: 1px solid #a334fa;
}
