.App {
    text-align: center;
    padding: 50px;
}

.barcode-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
}

.product-details {
    border: 1px solid #a334fa;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 8px;
    background: ghostwhite;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.product-details .desc {
    background: ghostwhite;
    padding: 10px;
    font-style: italic;
    font-family: fangsong;
    font-size: 19px;
}

.bar_labelss {
  /*  background: darkslategray;
    color: ghostwhite;  */
    font-size: 13px;
    text-align: left;
}

.bar_inputs input, .bar_select select {
    border: 1px solid #a334fa;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: not-allowed;
    color: black; /* Checkbox label color */
}

.checkbox-input {
    margin-right: 5px;
    transform: scale(0.8); /* Adjust the scale for checkbox size */
}

.checkbox-text {
    margin-left: 5px; /* Adjust the spacing between checkbox and label */
    font-size: 13px;
    font-weight: bold;
}

/* Add custom styles to your liking */
.form-control[disabled] {
    background-color: #f8f9fa; /* Disabled textarea background color */
    color: #6c757d; /* Disabled textarea text color */
    border-color: #d1d3e2; /* Disabled textarea border color */
    cursor: not-allowed;
}

.product-item {
    border: 1px solid #ddd;
    padding: 3px 13px;
    /* margin-bottom: 10px; */
}

.product-content {
    display: flex;
    align-items: center;
}

.product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.searchProductContainer {
    position: absolute;
    background: white;
    z-index: 546456;
}

.cart-container img 
{
    width: 65px;
    height: 55px;
}

.cart-table {
    width: 100%;
    border: 1px solid darkslategray;
    border-radius: 17px;
}

.cart-table thead
{
    background: darkslategray;
    color: white;
    font-size: 13px;
}

/* #f1deff azure */
.cart-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2; /* Set your preferred background color */
}

/* Styles for even table rows */
.cart-table tbody tr:nth-child(even) {
  background-color: #ffffff; /* Set your preferred background color */
}


@media (max-width: 767px) {
    .product-details {
        max-width: 100%;
        padding: 5px;
    }
}


